# Data Import Test

In [2]:
import pandas as pd
import prose.codeaccelerator as cx

Auto generate import code with prose library

In [3]:
filename = "/Users/Patcharagit.Strauss/Desktop/test/sales.csv"
rcb = cx.ReadCsvBuilder(filename)
rcb.learn().code()

import pandas as pd


def read_file(file):
    names = [
        "column1",
        "column2",
        "column3",
        "column4",
        "column5",
        "column6",
        "column7",
        "column8",
        "column9",
        "column10",
        "column11",
    ]

    df = pd.read_csv(
        file,
        skiprows=0,
        header=None,
        names=names,
        quotechar='"',
        delimiter=",",
        index_col=False,
        dtype=str,
        na_values=[],
        keep_default_na=False,
        skipinitialspace=True,
    )

    return df

Execute auto generated code

In [4]:
def read_file(file):
    names = [
        "SalesOrderID",
        "SalesOrderDetailID",
        "CarierTrakcingNumber",
        "OrderQty",
        "ProductID",
        "SpecialOfferID",
        "UnitPrice",
        "UnitPriceDiscount",
        "LineTotal",
        "rowguid",
        "ModifiedDate",
    ]

    df = pd.read_csv(
        file,
        skiprows=0,
        header=None,
        names=names,
        quotechar='"',
        delimiter=",",
        index_col=False,
        dtype=str,
        na_values=[],
        keep_default_na=False,
        skipinitialspace=True,
    )

    return df

In [5]:
df = read_file(filename)
df.head(5)

,SalesOrderID,SalesOrderDetailID,CarierTrakcingNumber,OrderQty,ProductID,SpecialOfferID,UnitPrice,UnitPriceDiscount,LineTotal,rowguid,ModifiedDate
0,43659,1,4911-403C-98,1,776,1,2024.9940,0.0000,2024.994000,b207c96d-d9e6-402b-8470-2cc176c42283,2011-05-31 00:00:00
1,43659,2,4911-403C-98,3,777,1,2024.9940,0.0000,6074.982000,7abb600d-1e77-41be-9fe5-b9142cfc08fa,2011-05-31 00:00:00
2,43659,3,4911-403C-98,1,778,1,2024.9940,0.0000,2024.994000,475cf8c6-49f6-486e-b0ad-afc6a50cdd2f,2011-05-31 00:00:00
3,43659,4,4911-403C-98,1,771,1,2039.9940,0.0000,2039.994000,04c4de91-5815-45d6-8670-f462719fbce3,2011-05-31 00:00:00
4,43659,5,4911-403C-98,1,772,1,2039.9940,0.0000,2039.994000,5a74c7d2-e641-438e-a7ac-37bf23280301,2011-05-31 00:00:00

Eximining Data

In [7]:
df.shape

(5000, 11)

In [12]:
df.isna().sum()

SalesOrderID            0
SalesOrderDetailID      0
CarierTrakcingNumber    0
OrderQty                0
ProductID               0
SpecialOfferID          0
UnitPrice               0
UnitPriceDiscount       0
LineTotal               0
rowguid                 0
ModifiedDate            0
dtype: int64

Check Data types

In [14]:
df.dtypes

SalesOrderID            object
SalesOrderDetailID      object
CarierTrakcingNumber    object
OrderQty                object
ProductID               object
SpecialOfferID          object
UnitPrice               object
UnitPriceDiscount       object
LineTotal               object
rowguid                 object
ModifiedDate            object
dtype: object

Covert object type columns to numeric type

In [17]:
df['OrderQty'] = pd.to_numeric(df['OrderQty'])
df['UnitPrice'] = pd.to_numeric(df['UnitPrice'])
df['UnitPriceDiscount'] = pd.to_numeric(df['UnitPriceDiscount'])
df['LineTotal'] = pd.to_numeric(df['LineTotal'])

In [20]:
df.dtypes

SalesOrderID             object
SalesOrderDetailID       object
CarierTrakcingNumber     object
OrderQty                  int64
ProductID                object
SpecialOfferID           object
UnitPrice               float64
UnitPriceDiscount       float64
LineTotal               float64
rowguid                  object
ModifiedDate             object
dtype: object

Import Plot library

In [24]:
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'